@import 'css/bubbles';
@import 'css/editor';

$full-height: 100%;
$full_size: 100%;
$zero-margin: 0;

html{
    height: $full-height
}

body{
    background-color: #d8d8d8;
    height: $full-height;
    margin: $zero-margin;

}

.background-div{
    height: $full-height;
    width: $full_size;
    position: fixed;
    top: 0;
    background: url('http://lorempixel.com/g/1920/1200/abstract/1/');
    opacity: 0.25;
}

#footer {
    padding: 5px;
    height: 30px;
    min-height: 30px !important;
    bottom: 0;
    position: fixed;
}

.footerSignature{
    font-family: "Monotype Corsiva", "Apple Chancery", cursive;
    font-size: 16px;
}

.bootcard-panel-container{
    width: 350px;
    margin: 10px;
    float:left;
}

.bootcard-panel{
    width: 350px;
    float: left;
    margin: 20px;
}

@media screen {

    /* start of screen rules. */

    /* Generic pane rules */
    body { margin: 0 }
    .custom-row, .customm-col { overflow: hidden; position: absolute; }
    .custom-row { left: 0; right: 0; }
    .customm-col { top: 0; bottom: 0; }
    .scroll-x { overflow-x: auto; }
    .scroll-y { overflow-y: auto; }

    .header.custom-row { height: 75px; top: 0; }
    .body.custom-row { top: 60px; bottom: 50px; }
    .footer.custom-row { height: 50px; bottom: 0; }
    /* end of screen rules. */
}

.navbar-right {
    padding-top: 10px
}

.navbar{
    margin-bottom: 0;
    min-height: 50px;
    background-color: #e6eef5;
    z-index: 900;
}

.navbar-inverse{
    background-color: #555555;
    border-color: #444444;
    color: #cccccc
}

.navbar-nav{
    z-index: 1000;
}

.all-messages{
    max-height: 450px;
    min-height: 350px;
    max-width: 500px;
    overflow-y: scroll;
}

.avatar_chat_display{
    display: inline;
    padding-top: 7px;
}

.chatContent{
    margin: 0 0 0 10px;
}

#submitChatForm{
    width: 50%;
}

.submit-chat-btn{
    float: right;
}
.custom-control{
    border-radius: 3px !important;
    background-color: cornsilk;
}

.js-send-chat{
    padding-left: 0 !important;
}



.all-users-left-panel{
    -webkit-padding-start: 4px !important;
    -moz-padding-start: 4px;
    padding-left: 5px;

}
.avatar-div-left-panel{
    width: 50px;
}

.avatar-initials{
    color: #09579A !important;
    background-color: #E1E8FA !important;
}

.inactive-chatroom-with-chat-messages{
    background: #FFF8C8;
    border-radius: 5px;
}

.inactive-chatroom-with-messages-badge{
    padding: 2px 4px;
    font-size: 10px;
    background-color: #337ab7;
}

#textAreaNewChat{
    margin-bottom: 6px;
}

.left-panel{
    width: 240px;
    float: left;
    margin-right: 10px;
    height: $full-height;
}

.main-panel{
    float: left;
    width: auto;
    margin-left: 10px;
    height: $full-height;
}

.all-users-list-item{
    padding: 5px;
    padding-bottom: 5px;
    border: inset 1px white;
    border-radius: 5px;
}

.all-users-list-item:hover{
    background-color: #e4f2fe;
    color: #474a80;
    border: inset 1px #e4f2fe;
    border-radius: 5px;
}

.second-user-left-panel{
    /*background: #FFF8C8;*/
    background-color: #CFE4FE;
    border: inset 1px #CFE4FE;
    border-radius: 5px;
}

.left-panel-title-row{
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 6px;
    color: navy;
}

.disabled-form{
    pointer-events: none;
    opacity: 0.5;
}
