html{
    height: 100%
}

body{
    background-color: #d8d8d8;
    height: 100%;
    margin: 0;
}

.background-div{
    height: 100%;
    position: relative;
   /* background: url('http://lorempixel.com/g/1920/1200/abstract/8/');*/
    /*background: url('http://lorempixel.com/g/1920/1200/abstract/2/');*/
    background: url('http://lorempixel.com/g/1920/1200/abstract/1/');

    opacity: 0.25;
}

@media screen {

    /* start of screen rules. */

    /* Generic pane rules */
    body { margin: 0 }
    .custom-row, .customm-col { overflow: hidden; position: absolute; }
    .custom-row { left: 0; right: 0; }
    .customm-col { top: 0; bottom: 0; }
    .scroll-x { overflow-x: auto; }
    .scroll-y { overflow-y: auto; }

    .header.custom-row { height: 75px; top: 0; }
    .body.custom-row { top: 55px; bottom: 50px; }
    .footer.custom-row { height: 50px; bottom: 0; }

    /* end of screen rules. */
}

.navbar{
    margin-bottom: 0;
}
.navbar-inverse{
    background-color: #555555;
    border-color: #444444;
    color: #cccccc
}

.all-messages{
    max-height: 450px;
    min-height: 350px;
    max-width: 500px;
    overflow-y: scroll;
}

.avatar_chat_display{
    display: inline;
    padding-top: 7px;
}

.chatContent{
    margin: 0 0 0 10px;
}

#submitChatForm{
    width: 50%;
}

.submit-chat-btn{
    float: right;
}
.custom-control{
    border-radius: 3px !important;
    background-color: cornsilk;
}

.js-send-chat{
    padding-left: 0 !important;
}



.all-users-left-panel{
    -webkit-padding-start: 4px !important;
    -moz-padding-start: 4px;
    padding-left: 5px;

}
.avatar-div-left-panel{
    width: 50px;
}

.avatar-initials{
    color: #09579A !important;
}



.inactive-chatroom-with-chat-messages{
    background: #FFF8C8;
    border-radius: 5px;
}

.inactive-chatroom-with-messages-badge{
    padding: 2px 4px;
    font-size: 10px;
    background-color: #337ab7;
}

#textAreaNewChat{
    margin-bottom: 6px;
}

.left-panel{
    width: 240px;
    float: left;
    margin-right: 10px;
    height: 100%
}

.main-panel{
    float: left;
    width: auto;
    margin-left: 10px;
    height: 100%
}

.all-users-list-item{
    padding: 5px;
    padding-bottom: 5px;
    border: inset 1px white;
    border-radius: 5px;
}

.all-users-list-item:hover{
    background-color: #e4f2fe;
    color: #474a80;
    border: inset 1px #e4f2fe;
    border-radius: 5px;
}

.second-user-left-panel{
    /*background: #FFF8C8;*/
    background-color: #CFE4FE;
    border: inset 1px #CFE4FE;
    border-radius: 5px;
}

.left-panel-title-row{
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 6px;
    color: navy;
}

.disabled-form{
    pointer-events: none;
    opacity: 0.5;
}

.bubble2 {
    background-color: #cfe4fe;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
    3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    max-width: 350px;
    margin: 2px 0;
}
.bubble2:after, .bubble2:before {
    border-bottom: 15px solid transparent;
    border-left: 25px solid #cfe4fe;
    bottom: -15px;
    content: '';
    position: absolute;
    left: 22px;
}
.bubble2:before {
    border-left: 15px solid hsla(0,0%,0%,.1);
    bottom: -18px;
    left: 24px;
}


.bubble {
    background-color: #FFF0A0;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
    3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    max-width: 350px;
    margin: 2px 0;
}
.bubble:after, .bubble:before {
    border-bottom: 15px solid transparent;
    border-right: 25px solid #fff0a0;
    bottom: -15px;
    content: '';
    position: absolute;
    right: 25px;
}
.bubble:before {
    border-right: 15px solid hsla(0,0%,0%,.1);
    bottom: -18px;
    right: 22px;
}