body{
    background-color: lightsteelblue;
}

.navbar{
    margin-bottom: 0;
}
.navbar-inverse{
    background-color: #555555;
    border-color: #444444;
    color: #cccccc
}

.all-messages{
    max-height: 450px;
    min-height: 350px;
    max-width: 500px;
    overflow-y: scroll;
}

.avatar_chat_display{
    display: inline;
    padding-top: 7px;
}

.chatContent{
    margin: 0 0 0 10px;
}

#submitChatForm{
    width: 50%;
}

.submit-chat-btn{
    float: right;
}
.custom-control{
    border-radius: 3px !important;
    background-color: cornsilk;
}

.js-send-chat{
    padding-left: 0 !important;
}

.all-users-left-panel{
    -webkit-padding-start: 15px !important;
    -moz-padding-start: 15px;

}
.avatar-div-left-panel{
    width: 50px;
}

.second-user-left-panel{
    background: #FFF8C8;
    border-radius: 3px;
}

.left-panel{
    width: 240px;
    float: left;
    margin-right: 10px;
}

.main-panel{
    float: left;
    width: auto;
    margin-left: 10px;
}

.all-users-list-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.bubble2 {
    background-color: #cfe4fe;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
    3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    max-width: 350px;
    margin: 2px 0;
}
.bubble2:after, .bubble2:before {
    border-bottom: 15px solid transparent;
    border-left: 25px solid #cfe4fe;
    bottom: -15px;
    content: '';
    position: absolute;
    left: 22px;
}
.bubble2:before {
    border-left: 15px solid hsla(0,0%,0%,.1);
    bottom: -18px;
    left: 24px;
}


.bubble {
    background-color: #FFF0A0;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    border-radius: 5px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
    3px 3px 0 hsla(0,0%,0%,.1);
    color: #333;
    display: inline-block;
    font: 16px/25px sans-serif;
    padding: 15px 25px;
    position: relative;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    max-width: 350px;
    margin: 2px 0;
}
.bubble:after, .bubble:before {
    border-bottom: 15px solid transparent;
    border-right: 25px solid #fff0a0;
    bottom: -15px;
    content: '';
    position: absolute;
    right: 25px;
}
.bubble:before {
    border-right: 15px solid hsla(0,0%,0%,.1);
    bottom: -18px;
    right: 22px;
}