.bubble2 {
  background-color: #cfe4fe;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  display: inline-block;
  font: 16px/25px sans-serif;
  padding: 15px 25px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  max-width: 350px;
  margin: 2px 0; }

.bubble2:after, .bubble2:before {
  border-bottom: 15px solid transparent;
  border-left: 25px solid #cfe4fe;
  bottom: -13px;
  content: '';
  position: absolute;
  left: 12px; }

.bubble2:before {
  border-left: 15px solid rgba(0, 0, 0, 0.1);
  bottom: -18px;
  left: 13px; }

.bubble {
  background-color: #fbf5ce;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  display: inline-block;
  font: 16px/25px sans-serif;
  padding: 15px 25px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  max-width: 350px;
  margin: 2px 0; }

.bubble:after, .bubble:before {
  border-bottom: 15px solid transparent;
  border-right: 25px solid #fbf5ce;
  bottom: -12px;
  content: '';
  position: absolute;
  right: 12px; }

.bubble:before {
  border-right: 15px solid rgba(0, 0, 0, 0.1);
  bottom: -18px;
  right: 11px; }

/*
  //semi transparent background:
   background: rgba(255, 255, 255, 0.5) !important;

   height: 100%
*/
.ui-layout-container {
  height: 100% !important; }

.shareJSCM {
  height: 100% !important; }

.CodeMirror {
  height: 100%; }

.top-margin {
  margin-top: 50px; }

#viewer_iframe {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  resize: both; }

.light-border {
  border: 1px solid gray;
  width: 100%;
  border-radius: 3px; }

.ui-layout-pane-north,
.ui-layout-pane-west {
  background: rgba(255, 255, 255, 0.5) !important; }

.ui-layout-pane-east {
  background: rgba(255, 255, 255, 0.9) !important; }

.CodeMirror div.CodeMirror-cursor {
  color: yellow !important;
  background-color: blue; }

html {
  height: 100%; }

body {
  background-color: #d8d8d8;
  height: 100%;
  margin: 0; }

.intro-para {
  border: 1px dotted white;
  border-radius: 6px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.4);
  margin: auto; }

.background-div {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: url("http://lorempixel.com/g/1920/1200/abstract/1/");
  opacity: 0.25; }

#footer {
  padding: 5px;
  height: 30px;
  min-height: 30px !important;
  bottom: 0;
  position: fixed; }

.footerSignature {
  font-family: "Monotype Corsiva", "Apple Chancery", cursive;
  font-size: 16px; }

.bootcard-panel-container {
  width: 350px;
  margin: 10px;
  float: left; }

.bootcard-panel {
  width: 350px;
  float: left;
  margin: 20px; }

.bootcard-header {
  font-size: 1.5em;
  color: maroon; }

@media screen {
  /* start of screen rules. */
  /* Generic pane rules */
  body {
    margin: 0; }

  .custom-row, .customm-col {
    overflow: hidden;
    position: absolute; }

  .custom-row {
    left: 0;
    right: 0; }

  .customm-col {
    top: 0;
    bottom: 0; }

  .scroll-x {
    overflow-x: auto; }

  .scroll-y {
    overflow-y: auto; }

  .header.custom-row {
    height: 75px;
    top: 0; }

  .body.custom-row {
    top: 60px;
    bottom: 50px; }

  .footer.custom-row {
    height: 50px;
    bottom: 0; }

  /* end of screen rules. */ }
.navbar-right {
  padding-top: 10px; }

.navbar {
  margin-bottom: 0;
  min-height: 50px;
  background-color: #e6eef5;
  z-index: 900; }

.navbar-inverse .navbar-nav > li > a {
  color: #ddd; }

.navbar-inverse .navbar-brand {
  color: #ddd;
  padding-top: 13px;
  margin-right: 20px; }

.navbar-nav.pull-right {
  margin-top: 10px;
  margin-right: 20px; }

.navbar-inverse {
  background-color: #555555;
  border-color: #444444;
  color: #dddddd !important; }

#login-buttons a {
  color: #ddd; }

.navbar-nav {
  z-index: 1000; }

.all-messages {
  max-height: 450px;
  min-height: 350px;
  max-width: 500px;
  overflow-y: scroll; }

.avatar_chat_display {
  display: inline;
  padding-top: 7px; }

.chatContent {
  margin: 0 0 0 10px; }

#submitChatForm {
  width: 50%; }

.submit-chat-btn {
  float: right; }

.custom-control {
  border-radius: 3px !important;
  background-color: cornsilk; }

.js-send-chat {
  padding-left: 0 !important; }

.all-users-left-panel {
  -webkit-padding-start: 4px !important;
  -moz-padding-start: 4px;
  padding-left: 5px; }

.avatar-div-left-panel {
  width: 50px; }

.avatar-initials {
  color: #09579A !important;
  background-color: #E1E8FA !important; }

.inactive-chatroom-with-chat-messages {
  background: #FFF8C8;
  border-radius: 5px; }

.inactive-chatroom-with-messages-badge {
  padding: 2px 4px;
  font-size: 10px;
  background-color: #337ab7; }

#textAreaNewChat {
  margin-bottom: 6px; }

.left-panel {
  width: 240px;
  float: left;
  margin-right: 10px;
  height: 100%; }

.main-panel {
  float: left;
  width: auto;
  margin-left: 10px;
  height: 100%; }

.all-users-list-item {
  padding: 5px;
  padding-bottom: 5px;
  border: inset 1px white;
  border-radius: 5px; }

.all-users-list-item:hover {
  background-color: #e4f2fe;
  color: #474a80;
  border: inset 1px #e4f2fe;
  border-radius: 5px; }

.second-user-left-panel {
  /*background: #FFF8C8;*/
  background-color: #CFE4FE;
  border: inset 1px #CFE4FE;
  border-radius: 5px; }

.left-panel-title-row {
  background-color: lightsteelblue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 6px;
  color: navy; }

.disabled-form {
  pointer-events: none;
  opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
