<template name="all_users">
    <div class="well" style="{ } ">
        <div class="row" style="{background-color: lightsteelblue; padding-top: 5px; padding-bottom: 5px; border-radius: 3px}">
            <div class="col-xs-3">
                {{> avatar user=myUser shape="circle" }}
            </div>
            <div class="col-xs-9">
                {{ displayUserName myUser._id}}
                <span><i class="fa fa-circle"
                   style=" {color: {{#if isUserOnline myUser._id}} green {{else}} lightgrey {{/if}} }">
                </i></span>
            </div>
        </div>
        <br/>
        <ul class="unstyled all-users-left-panel">
            {{#each users}}
                {{#if isNotMainUser _id}}
                    <div class="row all-users-list-item {{#if isSecondUser _id}}second-user-left-panel {{/if}}">
                        <a href="/chat/{{_id}}" class="js-chatroom-visits">
                            <div class="col-xs-2" style="{padding-left: 0}">
                                {{> avatar user=this size="extra-small" shape="circle" }}
                            </div>
                            <div class="col-xs-10">
                                {{ displayUserName _id}} <span style="{font-size: 8px}">
                                    {{ lastVisited _id }}
                                <i class="fa fa-circle"
                                   style=" {color: {{#if isUserOnline _id}} green {{else}} lightgrey {{/if}} }">
                                </i></span>
                            </div>
                        </a>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>