<template name="bootcard">
    <div class="bootcard-panel-container">
        <div class="panel panel-default bootcards-media">
            <div class="panel-heading">
                <h3 class="panel-title  bootcard-header">{{this.title}}</h3>
            </div>
            <div class="panel-body">
                {{this.description}}
            </div>
            <div style="{width: 350px; margin:auto; max-width: 350px; overflow: hidden}">
                <a href="{{this.url}}">
                    <img src={{imageLink}} class="img-responsive" style="{max-height: 220px; height: 220px; margin: auto}"/>
                </a>
            </div>

            <div class="panel-footer">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <a type="button" href="{{this.url}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-github"></i>
                            Source on Github
                        </a>
                    </div>

                    <div class="btn-group">
                        {{#if this.internalLink}}
                            <a href="/{{this.internalLink}}" class="btn btn-default">
                                <i class="fa fa-paper-plane"></i>
                             View
                            </a>
                        {{else}}
                            <a href="{{this.externalLink}}" target="_blank" class="btn btn-default">
                                <i class="fa fa-paper-plane"></i>
                                View
                            </a>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>