<template name="all_users">
    <div class="well" style="{height: 100% ; margin: 0} ">
        <div class="row left-panel-title-row" >
            <div class="col-xs-3">
                {{> avatar user=myUser shape="circle" }}
            </div>
            <div class="col-xs-9">
                {{ displayUserName myUser._id}}
                <span><i class="fa fa-circle"
                   style=" {color: {{#if isUserOnline myUser._id}} green {{else}} lightgrey {{/if}} }">
                </i></span>
            </div>
        </div>
        <br/>
        <ul class="unstyled all-users-left-panel">
            {{#each users}}
                {{#if isNotMainUser _id}}
                    <div class="row all-users-list-item {{#if isSecondUser _id}}second-user-left-panel
                            {{else}} {{#if isInactiveWithMessages _id}} inactive-chatroom-with-chat-messages {{/if}} {{/if}}">
                        <a href="/chat/{{_id}}" class="js-chatroom-visits">
                            <div class="col-xs-2" style="{padding-left: 0}">
                                {{> avatar user=this size="extra-small" shape="circle" }}
                            </div>
                            <div class="col-xs-10">
                                {{ displayUserName _id}} <span style="{font-size: 9px}">
                                <i class="fa fa-circle"
                                   style=" {color: {{#if isUserOnline _id}} green {{else}} lightgrey {{/if}} }">
                                </i></span>
                                <span class="badge inactive-chatroom-with-messages-badge">{{inactiveChatMessagesCount _id}}</span>
                            </div>
                        </a>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>