<template name="all_users">
    <div class="well" style="{height: 100% ; margin: 0} ">
        <div class="row left-panel-title-row" >
            <div class="col-xs-3">
                {{> avatar user=myUser shape="circle" }}
            </div>
            <div class="col-xs-9">
                {{ displayUserName myUser._id}}
                <span><img src="{{#if isUserOnline myUser._id}}/online_status.png{{else}}/offline_status.png{{/if}}"></span>
            </div>
        </div>
        <br/>
        <ul class="unstyled all-users-left-panel">
            {{#each users}}
                {{#if isNotMainUser _id}}
                    <div class="row all-users-list-item {{#if isSecondUser _id}}second-user-left-panel
                            {{else}} {{#if isInactiveWithMessages _id}} inactive-chatroom-with-chat-messages {{/if}} {{/if}}">
                        <a href="/chat/{{_id}}" class="js-chatroom-visits">
                            <div class="col-xs-2" style="{padding-left: 0}">
                                {{> avatar user=this size="extra-small" shape="circle" }}
                            </div>
                            <div class="col-xs-10">
                                {{ displayUserName _id}}
                                <img src="{{#if isUserOnline _id}}/online_status.png{{else}}/offline_status.png{{/if}}">

                                <span class="badge inactive-chatroom-with-messages-badge">{{inactiveChatMessagesCount _id}}</span>
                            </div>
                        </a>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>