<template name="emoticons">

    <div class="dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">

            <span class="css-emoticon  ">:o)</span>
            <span class="css-emoticon  pink-emoticon">:c)</span>
            <span class="css-emoticon  ">:^)</span>
            <span class="css-emoticon  ">:-D</span>
            <span class="css-emoticon  green-emoticon">:-P</span>
            <span class="css-emoticon  ">:-Þ</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <p class="text" id="regular">
                    <span class="css-emoticon">:-)</span>
                    <span class="css-emoticon   spaced-emoticon">:)</span>
                    <span class="css-emoticon  ">:o)</span>
                    <span class="css-emoticon  ">:c)</span>
                    <span class="css-emoticon  ">:^)</span>
                    <span class="css-emoticon  ">:-D</span>
                    <span class="css-emoticon  ">:-(</span>
                    <span class="css-emoticon  ">:-9</span>
                    <span class="css-emoticon  ">;-)</span>
                    <span class="css-emoticon  ">:-P</span>
                    <span class="css-emoticon  ">:-p</span>
                    <span class="css-emoticon  ">:-Þ</span>
                    <span class="css-emoticon  ">:-b</span>
                    <span class="css-emoticon  ">:-O</span>
                    <span class="css-emoticon  ">:-/</span>
                    <span class="css-emoticon  ">:-X</span>
                    <span class="css-emoticon  ">:-#</span>
                    <span class="css-emoticon  ">:'(</span>
                    <span class="css-emoticon  ">B-)</span>
                    <span class="css-emoticon  ">8-)</span>
                    <span class="css-emoticon  ">:-\</span>
                    <span class="css-emoticon  ">;*(</span>
                    <span class="css-emoticon  ">:-*</span>
                    <span class="css-emoticon   spaced-emoticon">:]</span>
                    <span class="css-emoticon   spaced-emoticon">:&gt;</span>
                    <span class="css-emoticon   spaced-emoticon">=]</span>
                    <span class="css-emoticon   spaced-emoticon">=)</span>
                    <span class="css-emoticon   spaced-emoticon">8)</span>
                    <span class="css-emoticon   spaced-emoticon">:}</span>
                    <span class="css-emoticon   spaced-emoticon">:D</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">8D</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">XD</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">xD</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">=D</span>
                    <span class="css-emoticon   spaced-emoticon">:(</span>
                    <span class="css-emoticon   spaced-emoticon">:&lt;</span>
                    <span class="css-emoticon   spaced-emoticon">:[</span>
                    <span class="css-emoticon   spaced-emoticon">:{</span>
                    <span class="css-emoticon   spaced-emoticon">=(</span>
                    <span class="css-emoticon   spaced-emoticon">;)</span>
                    <span class="css-emoticon   spaced-emoticon">;]</span>
                    <span class="css-emoticon   spaced-emoticon">;D</span>
                    <span class="css-emoticon   spaced-emoticon">:P</span>
                    <span class="css-emoticon   spaced-emoticon">:p</span>
                    <span class="css-emoticon   spaced-emoticon">=P</span>
                    <span class="css-emoticon   spaced-emoticon">=p</span>
                    <span class="css-emoticon   spaced-emoticon">:b</span>
                    <span class="css-emoticon   spaced-emoticon">:Þ</span>
                    <span class="css-emoticon   spaced-emoticon">:O</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">8O</span>
                    <span class="css-emoticon   spaced-emoticon">:/</span>
                    <span class="css-emoticon   spaced-emoticon">=/</span>
                    <span class="css-emoticon   spaced-emoticon">:S</span>
                    <span class="css-emoticon   spaced-emoticon">:#</span>
                    <span class="css-emoticon   spaced-emoticon">:X</span>
                    <span class="css-emoticon   spaced-emoticon">B)</span>
                    <span class="css-emoticon   small-emoticon spaced-emoticon">O:)</span>

                    <span class="css-emoticon   pink-emoticon counter-rotated">&lt;3</span>
                    <span class="css-emoticon   red-emoticon spaced-emoticon">;(</span>
                    <span class="css-emoticon   red-emoticon small-emoticon spaced-emoticon">&gt;:)</span>
                    <span class="css-emoticon   red-emoticon small-emoticon spaced-emoticon">&gt;;)</span>
                    <span class="css-emoticon   red-emoticon small-emoticon spaced-emoticon">&gt;:(</span>
                    <span class="css-emoticon   no-rotate">O_o</span>
                    <span class="css-emoticon   no-rotate">O_O</span>
                    <span class="css-emoticon   no-rotate">o_o</span>
                    <span class="css-emoticon   no-rotate">0_o</span>
                    <span class="css-emoticon   no-rotate">T_T</span>
                    <span class="css-emoticon   no-rotate">^_^</span>
                    <span class="css-emoticon  ">?-)</span>
                </p>
            </li>
        </ul>
                <!--

            </p>-->
            </div>
</template>